<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h1>Todo App</h1>


<form action="">
  <!-- Value: specifies whats in the input -->
  <input type="text" name="" id="input">  
<button type="submit" id="add_todo">Add Todo</button>

<button type="submit" id="clear">Clear</button> 

</form>

<ul></ul>

<script src="/js/script.js"  type="text/javascript"></script>
</body>
</html>